@import "./normalize.css";

:root {
  --theme-padding-base: 10px;
  --plugin-window-width: 600px;
  --plugin-window-height: 400px;
}

body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  width: var(--plugin-window-width);
  height: var(--plugin-window-height);
  position: relative;

  top: 0;
  left: 0;
  display: block;

  padding: var(--theme-padding-base);
}

#app {
  height: 100%; 
  width: 100%; 
  position: relative;
}

* {
  box-sizing: border-box;
}

